
	.intro-section {
		padding-top: 469px !important;
		padding-bottom: 80px !important;
		background-image: url(../images/seattle-skyline-and-mt-rainier-panoramic-adam-romanowicz.jpg) !important;
		background-size: 1150px !important;
		background-repeat: no-repeat !important;
		background-position: center center;
		color: white;
		position: relative;
		height: 100%;
		text-align: center;
		background: #fff;
	}

