header {
	background-image: url(../images/seattle-skyline-and-mt-rainier-panoramic-adam-romanowicz.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top center;
	background-size: cover;

